<% @games.each do |game| %>
  <div class="card col-md-3 col-lg-2">
    <div class="card-body">
      <h5 class="card-title"><%= link_to game.name, game.bgg_url %></h5>
      <% game.sites.each do |site| %>
        <%= link_to site.name, site.url, class: "btn btn-light btn-sm" %>
      <% end %>
    </div>
  </div>
<% end %>
