<h1>Boardgames Online</h1>
<p>If you want to know where your favorite boardgame is available to play online, this page is for you!</p>
<table>
  <tr>
    <th>Name</th>
    <th>Sites</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td>INSERT SITE</td>
    </tr>
  <% end %>
</table>