body {
  background: linear-gradient(92.75deg, #00C2F6 0%, rgba(255, 255, 255, 0) 100%), #564FEA;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.header {
  border: 1px solid darkgray;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
}

h1,h3 {
  margin: 0px;
  padding: 10px;
  text-align: center;
}
.title {
  font-size: 200%;
}

.subtitle {
  font-size: 150%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 20px;
}

.sticky-form {
  top: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  // border: 1px solid darkgray;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.inside-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 10px, 0px;
  height: 80vh;
  // overflow-y: scroll;
}

.card {
  background-color: white;
  text-align: center;
  margin: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card-title {
  padding-bottom: 10px;
}

.site {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site .btn {
  margin: 5px;
}
