body {
  background-color: whitesmoke
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h3 {
  text-align: center;
}

.header {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
}

.empty {
  padding: 15px 0px;
}

.table {
  display: flex;
  justify-content: center;
  border: 1px solid darkgray;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
}